@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);


html,body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  line-height:1.5em;
}
a{color:$linkColor; text-decoration:none;}
.clearfix::after, .clearfix::before {
  content: " ";
	display: table;
}
.clearfix::after{clear:both;}
.bold {color:$boldColor; font-weight:400;}

.resume-wrapper {
  position:relative;
  text-align:center;
  height:100%;
}

.container {
  min-height:600px;
} 

.profile {
  background:$profileBg;
  width:40%;
  float:left;
  color:$profileColor;
  @include breakpoint(brother-bear) { width: 100%; }
  .name-wrapper {
    float:left;
    width:60%;
  }
  h1 {
    font-size:2.5em;
    text-align:left;
    font-family: 'Varela Round', sans-serif;
    color:$boldColor;
    text-transform:uppercase;
    line-height:1em;
    padding-top:40px; 
    @include breakpoint(mama-bear) {
       padding-top:20px;
    }
    @include breakpoint(baby-bear) {
      font-size:1.8em;  
      padding-top:20px;
    } 
  }
  li {
      margin-bottom:10px;
    }
  .picture-resume-wrapper {
    width:40%;
    display:block;
    float:left;
    @include breakpoint(mama-bear) {
       width:100%;
    }
  }
  .picture-resume {
    width:220px;
    height:220px;
    background-size:cover;
    border-radius:50%;
    margin-right:0px;
    display:table;
    position:relative;
    vertical-align:middle;
    span {
        display:table-cell;
        vertical-align: middle;
        position:relative;
        margin:0 auto;
        z-index:10;
       text-align:center
    }
    img {
      border-radius:50%;
      width:130px;
      @include breakpoint(papa-bear) {
        width:80px;
      }
      @include breakpoint(mama-bear) {
        width:120px;
        height:120px;
      }
    }
    @include breakpoint(papa-bear) {
      width:150px;
      height:150px;
    }
    @include breakpoint(mama-bear) {
      width:200px;
      height:200px;
    }
     @include breakpoint(baby-bear) { width:180px;height:180px; } 
  }
  .contact-info{
    margin-top:100px;
    font-weight:300;
    @include breakpoint(mama-bear) {margin-top:70px; } 
    @include breakpoint(baby-bear) { margin-top:50px; } 
  }
  .list-titles {
    float:left;
    text-align:left;
    font-weight:600;
    width:40%;
    color:$boldColor;
  }
  .list-content{
    float:left;
    width:60%;
    text-align:left;
    font-weight:300;
  }
  .contact-presentation {
    text-align:left;
    font-weight:300;
    margin-top:100px;
    margin-bottom:100px;
    @include breakpoint(mama-bear) {margin-top:70px;margin-bottom:70px; } 
    @include breakpoint(brother-bear) {margin-top:50px;margin-bottom:50px; } 
    
  }
  svg {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    //display:none;
  }

  .st0, .st1 {
    fill:#66cc99;
  }

}
.experience {
  width:60%;
  float:left;
  position:relative;
  font-weight:300;
  min-height:100%;
  min-height:100vh;
  @include breakpoint(brother-bear) { width: 100%; } 
  h3.experience-title {
    color:$linkColor;
    text-align:left;
    text-transform:uppercase;
    font-size:1.2em;
    margin-bottom:20px;
    font-weight:400;
  }
  .company-wrapper {
    width:30%;
    float:left;
    text-align:left;
    padding-right:5%;
    margin-bottom:60px;
    @include breakpoint(baby-bear) {width:100%; margin-bottom:20px;} 
  }
  .job-wrapper {
    width:70%;
    float:left;
    text-align:left;
    padding-right:5%;
    margin-bottom:60px;
    @include breakpoint(baby-bear) {width:100%;margin-bottom:40px;} 
  }
  .experience-title {
      color:white;
      margin-bottom:15px;;
    }
}

.section-padding {
 padding:60px 60px 40px 40px;
 @include breakpoint(brother-bear) { padding:80px 15% 40px 10%; }
 @include breakpoint(baby-bear) { padding:40px 10% 20px 5%; }
}

.section-wrapper {
  width:50%;
  float:left;
  text-align:left;
  color:$skillsColor;
  font-weight:300;
  margin-bottom:20px;
  @include breakpoint(baby-bear) {width:100%;}
  &:nth-child(3){ 
    padding-right:8%;
  }
  h3.section-title {
    color:$linkColor;
    text-align:left;
    text-transform:uppercase;
    font-size:1.2em;
    margin-bottom:20px;
    font-weight:400;
  }
  .skill-percentage {
    margin-bottom:10px;
    position:relative;
    &::after {
      content:"";
      width:100%;
      height:6px;
      background:$boldColor;
      display:block;
      margin-top:3px;
    }
    &::before{
      content:"";
      height:6px;
      background:$linkColor;
      position:absolute;
      margin-top:3px;
      bottom:0;
    }
    &:nth-child(1)::before {width:80%;animation: skill_1 $time ease;}
    &:nth-child(2)::before {width:90%; animation: skill_2 $time ease;} 
    &:nth-child(3)::before {width:50%;animation: skill_3 $time ease;}
    &:nth-child(4)::before {width:60%;animation: skill_4 $time ease;}
    &:nth-child(5)::before {width:70%;animation: skill_5 $time ease;}
    &:nth-child(6)::before {width:70%;animation: skill_6 $time ease;}
    &:nth-child(7)::before {width:70%;animation: skill_6 $time ease;}
  }
  
}

@keyframes skill_1 {from {width:0%;}to {width:80%;}}
@keyframes skill_2 {from {width:0%;}to {width:90%;}}
@keyframes skill_3 {from {width:0%;}to {width:50%;}}
@keyframes skill_4 {from {width:0%;}to {width:60%;}}
@keyframes skill_5 {from {width:0%;}to {width:70%;}}  
@keyframes skill_6 {from {width:0%;}to {width:70%;}}
@keyframes skill_7 {from {width:0%;}to {width:70%;}}


html {
    padding: 2.4em;
}

.sheet {
    border: 1px solid black;
}

#save > section:first-of-type > aside {
    background-color: #f5f5f5;
}

#save > section:first-of-type aside .skills > ul > li > span {
    background-color: #f5f5f5;
}

button, a[role="button"] {
    user-select: none;
}

#document-controls {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 0.5em;
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
}

#document-controls button + button,
#document-controls button + a[role="button"],
#document-controls a[role="button"] + a[role="button"],
#document-controls a[role="button"] + button {
    margin-top: 0.5em;
}

#github-link {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 0.5em;
    margin-left: 0.5em;
    text-decoration: none;
    color: black;
}

/* Source https://www.bestcssbuttongenerator.com/#/36 */

button, a[role="button"] {
	box-shadow:inset 0px 1px 0px 0px white;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px white;
}

button:hover, button:active,
a[role="button"]:hover, a[role="button"]:active {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}

button:active, a[role="button"]:active {
	position:relative;
	top:1px;
}
/* Typography */

body, .sanserif {
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
}



h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	letter-spacing: -.1rem;
	margin-bottom: 1rem;
    margin-top: 0;
}

h1 {
	font-size: 3.6rem;
    line-height: 1.2;
}

h2, .section-title {
	font-size: 2.8rem;
    line-height: 1.25;
}

h3 {
	font-size: 2.2rem;
    line-height: 1.3;
}

h4 {
	font-size: 1.618rem;
	letter-spacing: -.08rem;
    line-height: 1.35;
}

h5 {
	font-size: 1.4rem;
	letter-spacing: -.05rem;
    line-height: 1.5;
}

h6 {
	font-size: 1.2rem;
	letter-spacing: 0;
    line-height: 1.4;
}
pre {
    white-space: pre-wrap !important;
}

pre,
blockquote {
    page-break-inside: avoid;
}

thead {
    display: table-header-group;
}

tr,
img {
    page-break-inside: avoid;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}

a {
    color: currentColor;
    text-decoration: none;
}

* {
    outline: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: none;
}

/* Print background graphics */
@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

#document-controls, #github-link, iframe {
    display: none !important;
}